.container {
  height: calc(100vh - 64px);
  background-color: hsl(var(--background));
  overflow: hidden;
}

.main {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}
